<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">      
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Sistema de Inventario - NISSAN</title>
</head>
<body>    
    <div class="header">
        <img alt="logo" id="logo" src="../static/img/logo.png">  
    
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary pull-right boton-login" data-toggle="modal" data-target="#loginModal">
            Login
        </button>
    </div>   

     <!-- Modal -->
     <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="iniciarSesion" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">    
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="iniciarSesion"><strong>Inicio de Sesión</strong></h5>
                </div>

                <div class="modal-body">                    
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag()}}
                        <img class="img-login" src="../static/img/logo.png" alt="logo">
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email }}
                            {% for error in form.email.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }}
                            {{ form.password() }}<br>
                            {% for error in form.password.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="modal-footer">                    
                            {{ form.submit() }}
                        </div>

                    </form>
                </div>

                

            </div>
        </div>
    </div>

    <div id="slogan">
        <h1>Be more wherever you go. Be Nissan.</h1>
    </div>
    
    <div class="bg"></div>

    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>